.login .leftSide {
    background: var(--main);
    width: 35vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .rightSide {
    background: var(--white);
    flex: 1;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .rightSide .forgotPass {
    font-weight: bold;
    font-size: 0.95rem;
}