@media only screen and (max-width: 900px) {
    .addtask-button {
        position: fixed;
    }

    body > .wrapper {
        flex-direction: column;
    }

    .vertical-menu {
        justify-content: space-around;
    }

    .vertical-menu .logo {
        position: unset;
    }

    .vertical-menu > .wrapper {
        display: flex;
    }

    .main-header {
        justify-content: center;
    }

    .categories-menu {
        display: none;
    }

    .main-modal .modalArea {
        padding: 20px;
    }

    .modalArea > .wrapper > .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .main-task .alert {
        margin-left: 5px;
        margin-right: 5px;
    }

    .main-section {
        padding: 10px 10px;
        min-height: calc(100vh - 170px);
    }

    .main-content {
        min-height: calc(100vh - 170px);
    }
}