.categories-menu {
    max-width: 230px;
    width: 100%;
    min-height: calc(100vh - 80px);
    background: var(--categories);
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-menu .wrapper {
    margin-bottom: 100px;
}