.main-section {
    flex: 1;
    min-height: calc(100vh - 80px);
    background-color: #E9F4FB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    box-shadow: inset 10px 10px 20px 0px rgb(0 0 0 / 1%);   
}

.main-section > .wrapper {
    max-width: 635px;
    width: 100%;
}