.profile-widget {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-widget .wrapper {
    margin-left: 10px;
}

.profile-widget .photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-widget .name {
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: bold;
}

.profile-widget .job {
    font-size: 0.8rem;
    color: var(--main);
    font-weight: bold;
}