.vertical-menu {
    background: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vertical-menu .logo {
    max-width: 65px;
    object-fit: cover;
    position: absolute;
    left: 30px;
    top: 15px;
}