::-webkit-scrollbar {
    width: 2px;
    margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lighter); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5px;
}